.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.board {
  display: flex;
  flex-wrap: wrap;

  --card-width: 10rem;
  --columns-count: 3;

  width: calc(var(--card-width) * var(--columns-count) + 6px + 1.2rem);

  border-radius: 1.6rem;
  border: 3px dashed #484848;
  padding: 0.6rem;
  background-color: #ffdfd0;
}

.backBtn {
  position: absolute;
  width: 5rem;
  padding: 0;
  border: 0;
  background: transparent;
  appearance: none;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.backBtn img {
  display: block;
  width: 100%;
}

.backBtn:hover {
  filter: brightness(0.8);
}
