.levels {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.levelsGrid {
  display: flex;
  flex-wrap: wrap;

  --cell-size: 10rem;
  --cell-margin: calc(var(--cell-size) * 0.05);
  --columns-count: 3;

  width: calc(
    var(--cell-size) * var(--columns-count) + var(--cell-margin) *
      (var(--columns-count) + 1) * 2 + 1.5rem
  );

  border-radius: 1rem;
  padding: 0.6rem;
}
