.level {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 0;

  border-radius: 1rem;
  border: 3px dashed #484848;
  transition: transform 0.15s ease;
  appearance: none;
  background: transparent;
  color: inherit;
  font: inherit;

  margin: var(--cell-margin);

  cursor: pointer;
}

.level:hover {
  transform: scale(1.05);
  background-color: #ffdfd0;
}

.level.input-disabled {
  pointer-events: none;
  user-select: none;
}

.level.tinted {
  filter: brightness(0.7);
}

.starIcon {
  position: absolute;
  width: 90%;
  height: 90%;
}

.lockIcon {
  position: absolute;
  width: 40%;
  height: 40%;
}

.levelNumber {
  position: absolute;
  color: black;
  font-size: calc(var(--cell-size) * 0.3);
  font-weight: bolder;
  margin-top: 0.2rem;
}
